<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Hello {{uname}},</h1>
 <h4>Thank you for ordering from PizzaStore.</h4>
<h3>you orderid:{{id}}</h3>
<h3>order Summarry</h3>
<ul>
    <li>Name:{{name}}</li>
    <li>price;{{price}}</li>
    <li>quantity:{{quantity}}</li>
    <li>Total:{{total}}</li>
    <div class="card"><img src="http://www.bing.com/ck/a?!&&p=14ccf8635cfc0411JmltdHM9MTY3MDYzMDQwMCZpZ3VpZD0yY2Q3ZjJjNS1iNGFhLTZhZjItMTRjZi1lMzZmYjUzMTZiZWUmaW5zaWQ9NTUyMw&ptn=3&hsh=3&fclid=2cd7f2c5-b4aa-6af2-14cf-e36fb5316bee&u=a1L2ltYWdlcy9zZWFyY2g_cT1QaXp6YSZGT1JNPUlRRlJCQSZpZD1BNTdENzQ4N0MzODAzN0Y2OEUzMzlGQTBEMjdBRTFBRTE3MTBGNTZB&ntb=1"></div>
</ul>

    <h6>Thank you for your order</h6>
    <h6>To order More pizza click below</h6>
    <a href="http://localhost:8000/product" class="btn btn-primary">Order more</a>
</body>

</html>
